@import "styles/global/template";

.wrapper {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 7;

  .content {
    align-items: center;
    grid-template-columns: repeat(2, auto) 1fr;
    gap: 45px;
    padding: 25px 30px;
    background: rgba(255, 255, 255, 0.32);
    border: 1px solid rgba(175, 175, 175, 0.4);
    border-radius: $large-radius;

    .picture__container {
      height: 25px;
      width: 134px;
    };

    .phone {
      align-items: center;
      justify-self: end;
      gap: 10px;
    };
  };
};