$black-100: #090808;
$black-90: #333333;
$black-80: #4f4f4f;


$gray-100: #a3a3a3;
$gray-90: #dddddd;
$gray-50: #f2f2f2;
$gray-40: #F9F9F9;
$gray-30: #F8F8F8;
$gray-20: #DBDBDB;

$white-100: #ffffff;

$red-110: #FF0000;
$red-100: #f1595e;

$green-100: #41bd6b;
$green-90: #B5CD38;

$blue-100: #2c9ff2;
$blue-200: #002585;

$yellow-100: #F1C146;

$gold-300: #DBBE91;
