$for-k: 3840px;
$full-hd: 1920px;
$laptop-max: 1600px;
$mac-book: 1440px;
$laptop: 1366px;
$tablet: 1050px;
$mobile: 600px;
$mobile-sm: 320px;

$time: 0.5s;

$light-radius: 5px;
$medium-radius: 10px;
